.projects-container,
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
}

.project{
    width: 280px;
    height: 290px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 6px #383b43;
}

.image-container{
    width: inherit;
    margin: 0;
    vertical-align: top;
}

.image-container img{
    width: inherit;
}

.text-container{
    background: rgba(56, 59, 67, .8);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%
}

.project-title{
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.project-description{
    font-size: 13px;
    margin: 0;
}

.button-container{
    text-align: center;
}

.project-button{
    color: white;
    padding: 10px 15px;
    background: rgba(56, 59, 67, .8);
    border: 1px solid rgb(117, 111, 111);
    border-radius: 5px;
    font-family: "Raleway", Helvetica, sans-serif;
    cursor: pointer;
}

.project-container{
    flex-wrap: inherit;
    padding: 10px;
}

.description,
.project-media{
    padding: 10px;
    width: 50%;
}

.project-media p{
    text-align: center;
    padding: 10px;
}

.project-image-container{
    max-height: 400px;
    overflow: hidden;
}

.project-image{
    width: 100%;
}

.my-description{
    display: none;
}

@media screen and (max-width: 980px){
    .my-description{
        display: inherit;
    }
}

@media screen and (max-width: 767px){
    .project-container{
        flex-wrap: wrap;
    }

    .description,
    .project-media{
        width: 100%;
    }
}